extends layout

block content
    .container
        button.btn.btn-default.load(data-link="http://winter2015-refactoru-students.herokuapp.com/public/samples/countries.json") Load Countries
    
    .container
        h2 Countries

        ul.countries
            li.eachCountry.hiding
                h3.name
                ul
                    li.frenchName French Name: 
                    li.localName Local Name:
                    li.region Region: